body{
    font-family: Arial, sans-serif;
    font-size: 15pt;
    background: rgb(219, 217, 217);
    text-align: center;
}
h1{
    margin-bottom: 60px;
}
input{
    padding: 5px;
    border-radius: 8px;
    border-color: rgb(219, 217, 217);
    outline: none;
}
#submit{
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
div{
    margin-top: 10px;
}
@media (max-width: 768px) {
    main{
        width: 90%;
        margin: 30px auto;
    }
    body {
        font-size: 14px;
        padding: 15px;
    }
}